* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.gallery{
  display: flex;
  justify-content: center;
 gap: 20px;
 align-items: center;
 flex-wrap: wrap;

}
ul{
  list-style: none;
}
img{
  width: 500px;
    height: 350px;
    
  
}

#boxes{
  display: flex;
  gap: 10px;
  align-items:center ;
}